h1{
  padding: 1vh 1vh;
  background-color: cadetblue;
}

.Top{
  border: 1px solid black;
  height: 6vh;
  width: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  .stack-holder{
  height:70vh;
  width:100vw;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.queue-box{
  border: 1px solid black;
  text-align: center;
  height: 8vh;
  width: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.inside{
  height:4vh;
  width:6vw;
}

@media all and (max-device-width: 480px) {
  h1{
    padding: 1vh 1vh;
    background-color: cadetblue;
  }
  
  .Top{
    border: 1px solid black;
    height: 6vh;
    width: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
    .stack-holder{
    height:70vh;
    width:100vw;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
  }
  
  .queue-box{
    border: 1px solid black;
    text-align: center;
    height: 12%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .inside{
    height:4vh;
    width:6vw;
  }   
}